 <div class="toor">
 <div class="row">
      <div class="col-75">
        <div class="container">
          <form #frm="ngForm">
           <h1>Billing Address</h1>
            <div class="row">
              <div class="col-50">
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <label for="fname" class="icon-bar"><i class="fa fa-user"></i> Full Name</label>
                <input type="text" id="fname" #firstnameref="ngModel" [(ngModel)]="firstnameprop1" name="firstname" placeholder="john">
                                                                                                                                                    
                <label for="email"><i class="fa fa-envelope"></i> Email</label>
                <input type="text" id="email" name="email" #emailrefref="ngModel" [(ngModel)]="emailprop1" placeholder="@example.com">
                <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
                <input type="text" id="adr" name="address" #addressref="ngModel"   [(ngModel)]="addressprop1" placeholder=" 15th Street">
                <label for="city"><i class="fa fa-institution"></i> City</label>
                <input type="text" id="city" name="city" #cityref="ngModel" [(ngModel)]="cityprop1" placeholder="Jaipur">
    
                <div class="row">
                  <div class="col-50">
                    <label for="state">State</label>
                    <input type="text" id="state" #stateref="ngModel" [(ngModel)]="stateprop1" name="state" placeholder="Rajasthan">
                  </div>
                  <div class="col-50">
                    <label for="pin">Pin Code</label>
                    <input type="text" id="pin" name="pin" #pinref="ngModel" [(ngModel)]="pinprop1" placeholder="10001">
                  </div>
                </div>
                <label for="chef">No.of chefs</label>
                <input type="text" id="chef" name="chef" #chefref="ngModel" [(ngModel)]="chefprop1" placeholder="number">
              </div>
              
            </div>
            <label>
              <input type="checkbox" checked="checked" name="sameadr">Address same as billing
            </label>
            <button type="submit"class=" btn btn-primary" (click)="bookin()" style="margin-bottom:30px; width:300px;background-color: rgb(247, 123, 123);margin-top:0px;">confirm booking</button>
          </form>
        </div>
      </div>
    </div>
    </div>
    
  