<div class="upback">
    <div class="sidel">
        <div class="img1"></div>
    </div>
    <h3 style="color:red">Daychef</h3>
    <div class="two">
    <ul>
        <li routerLink="/Register"style="font-size:20px;padding-left:30px;margin-left:30px">Register As A Professional</li><br>
        <li (click)="logout()"style="font-size: 20px;padding-left:10px">LogOut</li>
         
    </ul>
    </div>
    </div>
    <div class="role">
   <div class="jol">
    <h1> welcome to daychef {{name}} </h1>
</div>
<div class="joll">
    <h1>Home services, On Demand </h1>
</div>
    <div class="role1">
        <div class="rol">
            <h1 style="position:absolute;left:180px;letter-spacing:2px;color:rgb(248, 25, 25);text-shadow: 2px 1px 5px black;"> Services For You!</h1>
        </div>
            <div routerLink="cook" class=service>
               <h5 style="position:absolute;top:103px;left:20px;letter-spacing:2px;color:black;text-shadow: 2px 1px 5px black;">COOK</h5>
              </div>
            <div routerLink="maid" class=service1>
                <h5  style="position:absolute;top:103px;left:20px;letter-spacing:2px;color:black;text-shadow: 2px 1px 5px black;">MAID</h5>
            </div>
      </div>
    </div>
    <div id="sidebar">
        <div class="toggle-btn" style="color:blue"(click)="togglefun()" >
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul>
            <li routerLink="/home">Home</li>
            <li routerLink="/about">About</li>
            <li routerLink="/gallery">Gallery</li>
            <li routerLink="/contact">Contact</li>
            <li routerLink="/Register">Register As A Professional</li>
           <li (click)="logout()">Logout</li>
        </ul>  
    </div> 
    


