<div class="upback">
<div class="sidel">
    <div class="img1"></div>
</div>
<h3 style="font-size: 50px;color:red">Daychef</h3>
<div class="two">
<ul>
    <li routerLink="/Register"style="font-size: 20px;">Register As A Professional</li><br>
    <li routerLink="/Login"style="font-size: 20px;padding-left:60px">Login</li>
    <li routerLink="/SignUp"style="font-size: 20px;">Sign Up</li>
</ul>
</div>
</div>
<div class="row">
    <div class="col1">
          <div id="sidebar" >
              <div class="toggle-btn"(click)="togglefun()" >
                  <span></span>
                  <span></span>
                  <span></span>
              </div>
              <ul>
                  <li routerLink="/home">Home</li>
                  <li routerLink="/about">About</li>
                  <li routerLink="/gallery">Gallery</li>
                  <li routerLink="/contact">Contact</li>
              </ul>
             
          </div>    
        <div class="img5"></div>
    </div>
    <div class="col2">
        <div class="cool">
       <h4  style="color:black">Daychef Company</h4>
       <h1 style="font-size:50px;color:red">Quaity Home Service, On Demand</h1>
      <h4 style="color:black">Experienced,hand-picked Professional to serve you at your dourstep</h4>
          <div class="one">
              <h6  style="color:red">Where do you need a service ?</h6>
              <select placeholder="select your city">
          <option>India</option>
          <option>Australia</option>
          <option>Africa</option>
          <option>Russia</option>
          <option>France</option>
      </select>    
    </div>
    </div>
    </div>
</div>
