<div class="body-container">
    <div class="mid">
        <h3  style="color:red;text-shadow: 2px 1px 5px black;font-size:70px">Gallery</h3>
        <p class="gallery">A collection of beautiful chef</p>

        <div class="column">
            <div class="rows">
                <img src="https://i.pinimg.com/736x/5e/34/de/5e34def5cbfaaaaf6a5c5de1552c4cfc.jpg">
                <img src="https://mpng.subpng.com/20190214/uc/kisspng-clip-art-chef-portable-network-graphics-cooking-ch-5c6619cc010562.1419862015501951480042.jpg">
                <img src="https://comps.canstockphoto.com/boy-chef-cartoon-with-pizza-eps-vectors_csp47085937.jpg">
            </div>
            <p class="text">I don't own any of these pictures </p>

            <div class="rows">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR7fmibW3Iwd3VeSM5IAabxBeYyUmFo2YDmQw&usqp=CAU">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRB1En9CQYVPD0_w2jnjhpOjZojLpnMe6brdw&usqp=CAU">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRaOagmYxsoKlJjL3EHVgvPmdQqntnU26FUDw&usqp=CAU">
            </div>
            <p class="text">I don't own any of these pictures</p>

            <div class="rows">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTXK5WOyO5SLsXeQit2OPn0TLlQUsr3k8Zkjw&usqp=CAU">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR_7yGyB4qIBe2bskF_U4yjpGySNZuG6xUknw&usqp=CAU">
                <img src="https://i.pinimg.com/736x/5e/34/de/5e34def5cbfaaaaf6a5c5de1552c4cfc.jpg">
            </div>
            <p class="text">I don't own any of these pictures</p>
        </div>


        <footer style="color:red"><small>&copy; Copyright 2020, Daychef India </small> </footer>


    </div>

</div>