<div class="base">
    <div class="block">
            <h1 style="text-align: center;font-size:60px;">About Us</h1>
    </div>
<div class="secblock">
    <div class="sec">
            <h1 style="text-align: center;">Who we are</h1>
            <h3 style="padding-top: 40px; padding-left: 20px;"> DayChef is India's at home service provider.We are an all-in-one platform that helps users hire premium service professionals from chef to house-keeping.</h3>
            <h1 style="text-align: center;margin-top: 50px;padding-left: 70px; padding-right: 40px;">Our Mission is to empower millions of service professionals by delivering services at-home in a way that has never been experienced before.</h1>
    </div>
    <div class="third">
            <h1 style="text-align: center;">How we do it</h1>
            <h3 style="padding-top: 40px; padding-left: 20px;padding-right: 20px;">DayChef provides a platform that allows skilled and experienced professionals to connect with users looking for specific services. All the professionals, though experienced and skilled, undergo intensive training modules before being allowed to list their services on the platform. Once on the platform, our match-making algorithm identifies professionals who are closest to the users’ requirements and available at the requested time and date.</h3>
            <h4 style="margin-top: 50px;padding-left: 70px; padding-right: 40px;">Only 1 in 10 service providers who sign up with us is allowed to list their services.</h4>
    </div>
    <div class="four">
             <h4 style="padding-top:1020px;text-align: center;">For general queries,write to us at help @daychef.com </h4> 
             <h2 style="padding-top:20px;text-align: center;">You could be a part of our journey.Interested?</h2>
             <button style="margin-left: 700px; margin-top: 10px;color:white;background-color:green;" (click)="applynow()">Apply Now</button>
</div>
</div>
</div>
