.photo{
  width:400px;
  height:430px;
  background-image: url(cust.png);
  background-size:cover;
  position: relative;
  top:100px;
  left:0px;
}
.pbase{
  width:80%;
    height:490px;
   background-color:white;
   background-size: 100% 100%;
    position:absolute;
    top:100px;
    left:260px;
}
.base{
  width:320px;
  height:420px;
  background-color:black;
  color:white;
  position:absolute;
  top:100px;
  left:700px;
}
.loginform{
    position: relative;
    top:100px;
    left:25px;
    width:270px;
}
.picc{
    width:100px;
    height: 100px;
    background-color:turquoise;
    border-radius: 100%;
    position: absolute;
    left:calc(50% -50px);
    left:35%;
    top:-50px;
    background-image: url(adm2.png);
    background-size: 100% 100%;
}
