.mbase{
    width:100%;
    height:555px;
    background-color:white;
    position:absolute;
    top:100px;
    left:0;
    z-index:2;
}
.imp{
    width:400px;
    height:360px;
    position: relative;
    top:-270px;
    left:300px;
    background-image: url(pl.jpg);
    background-size: 100% 100%;
}
.base{
    width:320px;
    height:450px;
    background-color:rgb(253, 11, 11);
    color:white;
    position: relative;
    top:65px;
    left:900px;
  }
  .loginform{
      position: relative;
      top:50px;
      left:25px;
      width:270px;
      
  }
  .picc{
      width:100px;
      height: 100px;
      background-color:turquoise;
      border-radius: 100%;
      position: absolute;
      left:calc(50% -50px);
      left:35%;
      top:-50px;
      background-image: url(adm2.png);
      background-size: 100% 100%;
  }
  