
  <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">

    <body style="background-image:url(http://www.kinyu-z.net/data/wallpapers/64/925176.jpg)">
        <div class="cbase">
        <h1 style="color:red;"> Contact Us </h1>
        <h2 style="color:black;">
            <div class="column-xs-12 column-md-4">
                <img src="https://photos3.fotosearch.com/bthumb/CSP/CSP668/chef-posing-with-black-board-clip-art__k6684219.jpg">
            </div>
        </h2><br>

        <h1> DayChef<br>! Where find best chef & Food !</h1>
        <p>A DayChef is a cooking class in Rome for tourist as well homies..!!!</p>
        <br>
        <h3>Address.-Arya College Kukas, Jaipur-302028</h3>
        <h3>Email:-Daychefhomee.1@gmail.com</h3>
        <h3>Conatct No.-7667141102</h3>



        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <div class="icon-bar">
            <a href="https://www.facebook.com/day.chef.75/about" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="https://www.instagram.com/daychefhomee.1/" class="instagram"><i class="fa fa-instagram"></i></a>
            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="google"><i class="fa fa-google"></i></a>
            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            <a href="#" class="youtube"><i class="fa fa-youtube"></i></a>
            <a tel="+917667141102" class="whatsapp"><i class="fa fa-whatsapp"></i></a>
         </div>
         <footer style="color:blue;"> <small>&copy; Copyright 2020, Daychef India </small> </footer>
        </div>
